<header class="header-home">
    <img class="coffee-logo" src="assets/logo_kokoro.svg" alt="logo Kokoro Coffee">
    <h1>Tokyo's Brew and <br>Bakery Hub</h1>
    <h2>23rd Street, Shibuya District, Tokyo</h2>
  </header>

  <section class="kokoro_info">
    <h2>About Kokoro Coffee</h2>
    <p>Indulge in the essence of Kokoro Coffee, where the spirit of Tokyo meets the artistry of coffee crafting. Brand represents a fusion of tradition and innovation, offering a glimpse into the soul of Japanese coffee culture. 
    </p>
    <p>At Kokoro, they strive to create an immersive experience that celebrates the nuances of each brew, inviting guests to embark on a journey of flavor discovery. With a commitment to quality and authenticity, they curate a menu that reflects the diverse tastes and preferences of their patrons, ensuring every visit is a memorable one.
    </p>  
    <img class="img" src="/assets/home/Restaurant Stand with People Mockup 2.jpg" alt="Kokoro Coffee Entry">
  </section>
  
  <app-coffee-list>
    <!-- Las cards de los cafés se generarán aquí -->
  </app-coffee-list>
