h2 {
    display: flex;
    text-align: center;
    margin: auto;
    justify-content: center;
    padding: 20px;
    font-size: 32px;
    font-weight: bold;
}
.products-container {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
}